.inner1 {
  display: flex;
  justify-content: space-between;
  height: 350px;
}

.inner1 .col-left {
  width: 770px;
  background: #d2e1e9;
}

.inner1 .col-right {
  width: 360px;
  height: 350px;
}

.sc-visual {
  display: flex;
}

.sc-visual .group-tab {
  width: 80px;
  display: flex;
  flex-direction: column;
}

.sc-visual .group-tab .btn-tab {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1;
}

.sc-visual .group-tab .btn-tab::before {
  content: "";
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
}

.sc-visual .group-tab .btn-tab .name {
}

.sc-visual .group-tab .btn-tab.news::before {
  background: url(https://www.seoul.go.kr/res_newseoul/images/main/icon_main_2019.png)
    0 0 #fff;
}

.sc-visual .group-tab .btn-tab.citizen::before {
  background: url(https://www.seoul.go.kr/res_newseoul/images/main/icon_main_2019.png) -50px
    0 #fff;
}

.sc-visual .group-tab .btn-tab.active {
  background: #0158a8;
  color: #fff;
}
.sc-visual .group-tab .btn-tab.active::after {
  content: " ";
  position: absolute;
  z-index: 10;
  left: 99%;
  top: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 0 25px 32px;
  border-color: transparent transparent transparent #0158a8;
  margin-top: -25px;
}

.sc-visual .content {
  width: 690px;
}

.sc-visual .swiper {
}

.sc-visual .swiper-slide {
}

.sc-visual .swiper-slide img {
}

.sc-visual .swiper-slide .desc {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  padding-right: 122px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sc-visual .control-area {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  height: 40px;
}

.sc-visual .control-area button {
}

.sc-visual .control-area .btn-prev {
  width: 24px;
  height: 16px;
  background-image: url(https://www.seoul.go.kr/res_newseoul/images/main/icon_set_common_2019.png);
  background-position: -237px -284px;
}

.sc-visual .control-area .btn-next {
  width: 20px;
  height: 16px;
  background-image: url(https://www.seoul.go.kr/res_newseoul/images/main/icon_set_common_2019.png);
  background-position: -255px -284px;
}

.sc-visual .control-area .btn-autoplay {
  width: 18px;
  height: 16px;

  background-image: url(https://www.seoul.go.kr/res_newseoul/images/main/icon_set_common_2019.png);
  background-position: -283px -284px;
}

.sc-visual .control-area .btn-autoplay.on {
  width: 17px;
  height: 16px;

  background-image: url(https://www.seoul.go.kr/res_newseoul/images/main/icon_set_common_2019.png);
  background-position: -269px -284px;
}

.sc-visual .control-area .fraction {
  color: #fff;
  width: auto;
}
.sc-covid .corona-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  height: 36px;
  background-color: #99ddf4;
}
.sc-covid .title {
  padding-top: 2px;
}

.sc-covid .desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 21px;
  padding-left: 4px;
  background-color: #319ac6;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
}
.sc-covid .desc .num {
  margin: 0 2px;
  font-size: 16px;
  font-weight: bold;
}
.sc-covid .desc .more {
  display: inline-flex;
  align-items: center;
  height: 21px;
  margin-left: 2px;
  padding: 0 2px 0 4px;
  background: #000;
  color: #fff;
  border-radius: 5px;
  font-size: 13px;
}

.sc-covid .desc .more::after {
  content: "";
  width: 8px;
  height: 11px;
  margin-left: 3px;
  background: url(https://www.seoul.go.kr/res_newseoul/images/main/ico-triangle.png)
    no-repeat 0 0;
}
.sc-covid time {
  color: #000;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: -0.1em;
}

.sc-municipal {
  margin: 10px 0;
}
.sc-municipal a {
  display: block;
  position: relative;
  width: 100%;
  height: 204px;
}
.sc-municipal figure {
}
.sc-municipal figure img {
  background: no-repeat 50% 50%;
  background-size: auto 100%;
}
.sc-municipal figure .desc {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-weight: 700;
  overflow: hidden;
}

.sc-mayor {
  margin-top: 7px;
  position: relative;
}
.sc-mayor .bg {
}
.sc-mayor .bg img {
}
.sc-mayor .link-more {
  position: absolute;
  top: 18px;
  right: 14px;
}
.sc-mayor .link-more img {
}
.sc-mayor .sub-area {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 1;
  height: 26px;
}
.sc-mayor .sub-area a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(25% - 1px);
  height: 100%;
  background-color: #8b7153;
}
.sc-mayor .sub-area img {
}

.sc-service {
  position: relative;
  padding: 50px 0 0;
}

.sc-service .group-header {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dbdbdb;
}

.sc-service .group-header .headline {
  font-size: 24px;
  font-weight: 700;
}

.sc-service .group-header .sub-area {
  position: absolute;
  top: 56px;
  right: 0;
}

.sc-service .group-header .sub-area .link-story {
  width: 65px;
  margin-right: 14px;
  display: inline-flex;
  align-items: center;
  position: relative;
  height: 30px;
  background: url(https://www.seoul.go.kr/res_newseoul/images/main/logo_event.png)
    no-repeat 0 0;
}

.sc-service .group-header .sub-area .link-story::after {
  content: "";
  position: absolute;
  top: 9px;
  right: -15px;
  width: 1px;
  height: 16px;
  background: #dbdbdb;
}
.sc-service .group-header .sub-area .link-festival {
  width: 95px;
  margin-left: 14px;
  display: inline-flex;
  align-items: center;
  position: relative;
  height: 30px;
  background: url(https://www.seoul.go.kr/res_newseoul/images/main/logo_event.png)
    no-repeat -65px 0;
}

.sc-service .link-all {
  width: 112px;
  height: 29px px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  font-size: 15px;
  position: absolute;
  top: 50px;
  right: auto;
  left: 140px;
  padding-left: 13px;
  line-height: 28px;
  background: url(https://www.seoul.go.kr/res_newseoul/images/icon_link6.png)
    no-repeat right 13px top 50%;
}

.sc-service .service-list {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}
.sc-service .service-list li {
  width: auto;
  height: 90px;
  text-align: center;
}

.sc-service .service-list .public span:before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto 10px;
  background-image: url(https://www.seoul.go.kr/res_newseoul/images/main/icon_set_service_202205.png);
  background-repeat: no-repeat;
  background-position: -360px 0;
  box-sizing: border-box;
}

.sc-service .service-list .response span:before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto 10px;
  background-image: url(https://www.seoul.go.kr/res_newseoul/images/main/icon_set_service_202205.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  box-sizing: border-box;
}
.sc-service .service-list .job span:before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto 10px;
  background-image: url(https://www.seoul.go.kr/res_newseoul/images/main/icon_set_service_202205.png);
  background-repeat: no-repeat;
  background-position: -120px 0;
  box-sizing: border-box;
}
.sc-service .service-list .estate span:before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto 10px;
  background-image: url(https://www.seoul.go.kr/res_newseoul/images/main/icon_set_service_202205.png);
  background-repeat: no-repeat;
  background-position: -300px 0;
  box-sizing: border-box;
}
.sc-service .service-list .potal span:before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto 10px;
  background-image: url(https://www.seoul.go.kr/res_newseoul/images/main/icon_set_service_202205.png);
  background-repeat: no-repeat;
  background-position: -180px 0;
  box-sizing: border-box;
}
.sc-service .service-list .welfare span:before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto 10px;
  background-image: url(https://www.seoul.go.kr/res_newseoul/images/main/icon_set_service_202205.png);
  background-repeat: no-repeat;
  background-position: -960px 0;
  box-sizing: border-box;
}
.sc-service .service-list .dwelling span:before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto 10px;
  background-image: url(https://www.seoul.go.kr/res_newseoul/images/main/icon_set_service_202205.png);
  background-repeat: no-repeat;
  background-position: -780px 0;
  box-sizing: border-box;
}
.sc-service .service-list .youth span:before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto 10px;
  background-image: url(https://www.seoul.go.kr/res_newseoul/images/main/icon_set_service_202205.png);
  background-repeat: no-repeat;
  background-position: -1140px 0;
  box-sizing: border-box;
}
.sc-service .service-list .myhand span:before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto 10px;
  background-image: url(https://www.seoul.go.kr/res_newseoul/images/main/icon_set_service_202205.png);
  background-repeat: no-repeat;
  background-position: -1020px 0;
  box-sizing: border-box;
}
.sc-service .service-list .imagine span:before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto 10px;
  background-image: url(https://www.seoul.go.kr/res_newseoul/images/main/icon_set_service_202205.png);
  background-repeat: no-repeat;
  background-position: -60px 0;
  box-sizing: border-box;
}
.sc-service .service-list .book span:before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto 10px;
  background-image: url(https://www.seoul.go.kr/res_newseoul/images/main/icon_set_service_202205.png);
  background-repeat: no-repeat;
  background-position: -1080px 0;
  box-sizing: border-box;
}
.sc-service .service-list .​​council span:before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto 10px;
  background-image: url(https://www.seoul.go.kr/res_newseoul/images/main/icon_set_service_202205.png);
  background-repeat: no-repeat;
  background-position: -600px 0;
  box-sizing: border-box;
}

.sc-direct {
  margin-top: 35px;
  background: #eff4f8;
}
.sc-direct .inner {
}
.sc-direct .inner ul {
  display: flex;
  overflow: hidden;
}
.sc-direct .inner ul li {
  width: 230px;
  padding: 20px 0;
}
.sc-direct .inner ul li a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.sc-direct .inner ul li:nth-child(1) a::before {
  content: none;
}

.sc-direct .inner ul li a::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0px;
  width: 1px;
  height: 60px;
  background: #dbdbdb;
}
.sc-direct .inner ul li a img {
  width: 230px;
  height: 70px;
}

.inner2 {
  display: flex;
  padding: 50px 0 50px;
  border-bottom: 2px solid #222222;
}
.sc-board.event {
  position: relative;
  width: 360px;
}
.sc-board.event .headline {
  font-size: 24px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #dbdbdb;
  font-weight: 700;
}
.sc-board.event ul {
}
.sc-board.event ul li {
  padding: 6px 0 6px 0;
  position: relative;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sc-board.event ul li span {
  color: #599100;
  margin: 0 9px 0 0;
  font-size: 15px;
}
.sc-board.event ul li span a {
  font-size: 15px;
  color: #222;
}
.sc-board.event .link-more {
  position: absolute;
  right: 0;
  top: 6px;
  width: 22px;
  height: 20px;
  border: 1px solid #ddd;
  background: url(https://www.seoul.go.kr/res_newseoul/images/icon_set_common.png)
    no-repeat -1px -1px;
}

.sc-board.festival {
  margin: 0 36px;
  position: relative;
  width: 360px;
}
.sc-board.festival .headline {
  font-size: 24px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #dbdbdb;
  font-weight: 700;
}
.sc-board.festival ul {
}
.sc-board.festival ul li {
  padding: 6px 0 6px 0;
  position: relative;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sc-board.festival ul li span {
  color: #9b64d3;
  margin: 0 9px 0 0;
  font-size: 15px;
}
.sc-board.festival ul li span a {
  font-size: 15px;
  color: #222;
}
.sc-board.festival .link-more {
  position: absolute;
  right: 0;
  top: 6px;
  width: 22px;
  height: 20px;
  border: 1px solid #ddd;
  background: url(https://www.seoul.go.kr/res_newseoul/images/icon_set_common.png)
    no-repeat -1px -1px;
}

.sc-often {
  width: 360px;
}
.sc-often .headline {
  font-size: 24px;
  padding-bottom: 10px;
  font-weight: 700;
}
.sc-often ul {
  margin: 0;
  padding: 17px 5px 7px 20px;
  background: #eff4f8;
  height: 168.49px;
}
.sc-often ul li {
  float: left;
  width: 50%;
  position: relative;
  padding: 3px 0 10px 10px;
}

.sc-often ul li::before {
  content: "";
  position: absolute;
  background: #666666;
  width: 2px;
  height: 2px;
  left: 0;
  top: 50%;
  margin-top: -6px;
}
.sc-often ul li a {
  display: block;
  width: 94%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  color: #333;
}

.inner3 {
  height: 145px;
  padding-top: 40px;
}

.sc-field {
  display: block;
  padding-top: 40px;
}
.sc-field .headline {
  padding: 0 0 20px 0;
  font-size: 24px;
  font-weight: 700;
}
.sc-field ul {
  display: flex;

  padding: 0 27px;
  margin-left: -59px;
}
.sc-field ul li:nth-child(1) {
  background: url(https://www.seoul.go.kr/res_newseoul/images/icon_house.png)
    no-repeat;
  width: 85px;
  height: 145px;
  margin-left: 59px;
}

.sc-field ul li:nth-child(2) {
  background: url(https://www.seoul.go.kr/res_newseoul/images/icon_economy.png)
    no-repeat;
  width: 85px;
  height: 145px;
  margin-left: 59px;
}
.sc-field ul li:nth-child(3) {
  background: url(https://www.seoul.go.kr/res_newseoul/images/icon_traffic.png)
    no-repeat;
  width: 85px;
  height: 145px;
  margin-left: 59px;
}
.sc-field ul li:nth-child(4) {
  background: url(https://www.seoul.go.kr/res_newseoul/images/icon_environment.png)
    no-repeat;
  width: 85px;
  height: 145px;
  margin-left: 59px;
}
.sc-field ul li:nth-child(5) {
  background: url(https://www.seoul.go.kr/res_newseoul/images/icon_welfare.png)
    no-repeat;
  width: 85px;
  height: 145px;
  margin-left: 59px;
}
.sc-field ul li:nth-child(6) {
  background: url(https://www.seoul.go.kr/res_newseoul/images/icon_safty.png)
    no-repeat;
  width: 85px;
  height: 145px;
  margin-left: 59px;
}
.sc-field ul li:nth-child(7) {
  background: url(https://www.seoul.go.kr/res_newseoul/images/icon_culture.png)
    no-repeat;
  width: 85px;
  height: 145px;
  margin-left: 59px;
}
.sc-field ul li:nth-child(8) {
  background: url(https://www.seoul.go.kr/res_newseoul/images/icon_work.png)
    no-repeat;
  width: 85px;
  height: 145px;
  margin-left: 59px;
}
.sc-field ul li a {
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  padding-top: 100px;
}

.sc-new {
  clear: both;
  position: relative;
  padding: 20px 0 30px;
}
.sc-new h2 {
  padding: 0 0 20px 0;
  font-size: 24px;
  font-weight: 700;
}
.sc-new ul {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 266px);
  /* flex-grow: 1; */
}
.sc-new ul > li {
  width: 273px;
  float: left;
  margin-left: 20px;
  position: relative;
  /* border: 2px solid red; */
}

.sc-new ul li a {
  display: block;
  width: 100%;
}

.sc-new ul li a .img-box {
  width: 100%;
  height: 188px;
  overflow: hidden;
  margin-bottom: 15px;
}
.sc-new ul li a img {
  width: auto;
  transition: transform 0.3s ease-in-out;
}
.sc-new ul li a img:hover {
  transform: scale(1.1);
}
.sc-new ul li a .figure-img:hover {
  transform: scale(1);
}

.sc-new ul li a em {
  background-color: #599100;
  position: absolute;
  top: 156px;
  width: 82px;
  height: 32px;
  color: #fff;
  text-align: center;
  line-height: 32px;
  font-weight: 700;
  font-size: 14px;
  z-index: 1;
}

.sc-new ul li p {
  font-size: 16px;
  width: 100%;
  height: 3em;
  line-height: 1.5em;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: normal;
  color: #222;
  word-break: keep-all;
}

.sc-new .link-all {
  width: 75px;
  position: absolute;
  right: 0;
  top: 36px;
  background: url(https://www.seoul.go.kr/res_newseoul/images/icon_set_common.png)
    no-repeat 0 -259px;
}

.sc-new figure {
}
.sc-new figure img {
}

.sc-media {
  padding-bottom: 50px;
  display: flex;
  width: 100%;
}
.sc-media .group-media {
  position: relative;
  float: left;
}
.sc-media .group-media .headline {
  padding-bottom: 11px;
  font-size: 24px;
  font-weight: 700;
}
.sc-media .group-media a {
  float: left;
  width: 280px;
  height: 152px;
  position: relative;
  overflow: hidden;
  display: block;
}
.sc-media .group-media a img {
  transition: transform 0.3s ease-in-out;
}
.sc-media .group-media a img:hover {
  transform: scale(1.1);
}
.sc-media .group-media a p {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 11px 20px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.sc-media .group-news {
  display: flex;
  flex-direction: column;
  width: 480px;
  margin: 0 0 0 20px;
}
.sc-media .group-news .headline {
  padding-bottom: 11px;
  font-size: 24px;
  font-weight: 700;
}
.sc-media .group-news ul {
  display: flex;
  flex-direction: column;
}
.sc-media .group-news ul li {
  padding: 10px 0;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  color: #555555;
}
.sc-media .group-news ul li .badge {
  font-size: 16px;
  font-weight: 400;
  color: #09ac43;
  margin-right: 18px;
}
.sc-media .group-news ul li .text {
  color: #555;
}

.sc-media .group-sns {
  position: relative;
  float: left;
  width: 350px;
  height: 195px;
  margin-left: 22px;
  background: url(https://www.seoul.go.kr/res_newseoul/images/main/bg_sns_list_202205.jpg?ver=20191204)
    no-repeat 0 0;
}
.sc-media .group-sns a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 1.2;
  padding: 10px 15px;
  font-size: 22px;
  font-weight: 700;
  box-sizing: border-box;
  color: #222222;
}
.sc-media .group-sns a .headline {
  display: inline-block;
  position: relative;
  padding-right: 0;
  color: #222;
  font-size: 22px;
  font-weight: 600;
}
.sc-media .group-sns .sns-list {
  overflow: hidden;
  position: absolute;
  top: 90px;
  left: 50%;
  width: 276px;
  height: 40px;
  margin-left: -138px;
}
.sc-media .group-sns .sns-list li {
  float: left;
  margin: 0 3px;
}
.sc-media .group-sns .sns-list li .insta {
  background-position: 0 0;
  display: block;
  width: 40px;
  height: 40px;
  background: url(https://www.seoul.go.kr/res_newseoul/images/main/ico_sns_list_202205.png?ver=20210401)
    no-repeat 0 0;
  text-indent: -9999em;
}
.sc-media .group-sns .sns-list li .facebook {
  background-position: -40px 0;
  display: block;
  width: 40px;
  height: 40px;
  background: url(https://www.seoul.go.kr/res_newseoul/images/main/ico_sns_list_202205.png?ver=20210401)
    no-repeat -40px 0;
  text-indent: -9999em;
}
.sc-media .group-sns .sns-list li .twiter {
  background-position: -80px 0;
  display: block;
  width: 40px;
  height: 40px;
  background: url(https://www.seoul.go.kr/res_newseoul/images/main/ico_sns_list_202205.png?ver=20210401)
    no-repeat -80px 0;
  text-indent: -9999em;
}
.sc-media .group-sns .sns-list li .naver {
  background-position: -120px 0;
  display: block;
  width: 40px;
  height: 40px;
  background: url(https://www.seoul.go.kr/res_newseoul/images/main/ico_sns_list_202205.png?ver=20210401)
    no-repeat -120px 0;
  text-indent: -9999em;
}
.sc-media .group-sns .sns-list li .yotube {
  background-position: -160px 0;
  display: block;
  width: 40px;
  height: 40px;
  background: url(https://www.seoul.go.kr/res_newseoul/images/main/ico_sns_list_202205.png?ver=20210401)
    no-repeat -160px 0;
  text-indent: -9999em;
}
.sc-media .group-sns .sns-list li .kakao {
  display: block;
  width: 40px;
  height: 40px;
  background: url(https://www.seoul.go.kr/res_newseoul/images/main/ico_sns_list_202205.png?ver=20210401)
    no-repeat -200px 0;
  text-indent: -9999em;
}

.sc-bannerslide {
  padding: 50px 0 50px 0;
  border-top: 2px solid #222;
}

.sc-bannerslide .control-area {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.sc-bannerslide .control-area .fraction {
  width: auto;
}

.sc-bannerslide .control-area button {
  float: left;
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  border-left: 0;
  overflow: hidden;
}

.sc-bannerslide .control-area .btn-prev {
  border-left: 1px solid #999;
  background: url(https://www.seoul.go.kr/res_newseoul/images/icon_set_common.png)
    no-repeat -45px -43px;
}
.sc-bannerslide .control-area .btn-next {
  background: url(https://www.seoul.go.kr/res_newseoul/images/icon_set_common.png)
    no-repeat -86px -43px;
}

.sc-bannerslide .control-area .btn-autoplay {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  background: url(https://www.seoul.go.kr/res_newseoul/images/icon_set_common.png)
    no-repeat -65px -43px;
}

.sc-bannerslide .control-area .btn-autoplay.on {
  background: url(https://www.seoul.go.kr/res_newseoul/images/icon_set_common.png)
    no-repeat -101px -43px;
}

.sc-bannerslide .control-area .fraction {
  width: auto;
  margin-right: 15px;
}

.sc-agency {
}

.sc-agency .content {
  position: relative;
}

.sc-agency .agency-list {
  display: flex;
  border: 1px solid #d0d0d0;
}

.sc-agency .agency-item {
  flex: 1;
  text-align: center;
  /* position: relative; */
}

.sc-agency .agency-item + .agency-item {
  border-left: 1px solid #d0d0d0;
}

.sc-agency .btn-agency {
  position: relative;
  display: flex;
  background: #f7f7f7;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 50px;
}
.sc-agency .content .agency-item:nth-child(1) span.on::after {
  top: 23px;
  transform: rotate(-135deg);
  transform-origin: center center;
}
.sc-agency .content .agency-item:nth-child(2) span.on::after {
  top: 23px;
  transform: rotate(-135deg);
  transform-origin: center center;
}
.sc-agency .content .agency-item:nth-child(3) span.on::after {
  top: 23px;
  transform: rotate(-135deg);
  transform-origin: center center;
}
.sc-agency .content .agency-item:nth-child(5) span.on::after {
  top: 23px;
  transform: rotate(-135deg);
  transform-origin: center center;
}
.sc-agency .content .agency-item:nth-child(1) span::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 43px;
  height: 7px;
  width: 7px;
  border-style: solid;
  border-color: #373737;
  border-width: 0px 2px 2px 0px;
  transform: rotate(45deg);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform-origin: center center;
}
.sc-agency .content .agency-item:nth-child(2) span::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 43px;
  height: 7px;
  width: 7px;
  border-style: solid;
  border-color: #373737;
  border-width: 0px 2px 2px 0px;
  transform: rotate(45deg);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform-origin: center center;
}
.sc-agency .content .agency-item:nth-child(3) span::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 72px;
  height: 7px;
  width: 7px;
  border-style: solid;
  border-color: #373737;
  border-width: 0px 2px 2px 0px;
  transform: rotate(45deg);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform-origin: center center;
}
.sc-agency .content .agency-item:nth-child(5) span::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 22px;
  height: 7px;
  width: 7px;
  border-style: solid;
  border-color: #373737;
  border-width: 0px 2px 2px 0px;
  transform: rotate(45deg);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform-origin: center center;
}

.sc-agency .btn-agency.on {
  background: #e2e2e2;
}

.sc-agency .sub-area {
  display: none;
  position: absolute;
  background: #fff;
  border: 1px solid #d0d0d0;
  left: 0;
  bottom: calc(100% - 1px);
  z-index: 1;
  width: 100%;
}

.sc-agency .sub-area .sub-list {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px 20px;
  color: #555555;
  font-size: 14px;
}

.sc-agency .sub-area .sub-list li {
  width: 25%;
  margin-top: 10px;
  line-height: 19px;
}
